@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  h1{
    @apply text-xl font-semibold text-center mb-4 mt-6 text-stone-600
  }
}

@layer components{

  .list-button button{
    @apply bg-cyan-600 text-white p-2 rounded-md w-full font-light text-sm duration-700
  }

  .delete-buttons button{
    @apply p-2 rounded-md w-full font-light text-base
  }

  .delete-buttons button:nth-child(1){
    @apply bg-red-200 text-red-600
  }

  .delete-buttons button:nth-child(2){
    @apply bg-red-600 text-white
  }
}